{% extends "equipment/base.html" %}
{% block title %}IOManager{% endblock %}
{% block body %}
    {% if all_equipment %} 
        <h3>Registrert utstyr:</h3>
        <ul>
            {% for equipment in all_equipment %}
            <li><a href="{% url 'equipment:equipment-detail' equipment.id  %}">{{ equipment.name }} - {{ equipment.id }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <h3>You dont have any Equipment registered!</h3>
    {% endif %}
{% endblock %}
        
