{% extends "manageio/base.html" %}
{% block title %}IOManager{% endblock %}
{% block body %}
    <section>
        {% if all_equipment %}
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h3>Registrert utstyr:</h3>
                    </div>
                </div>
                {% for equipment in all_equipment %}
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="{% url 'manageio:equipment-detail' equipment.id  %}">{{ equipment.name }} - {{ equipment.id }}</a>
                        </div>
                        <div class="col-xs-10">
                            <form action="{% url 'manageio:equipment-delete' equipment.id %}" method="POST" style="display: inline;">
                                {% csrf_token %}
                                <input type="hidden" name="equipment_id" value="{{ equipment.id }}"/>
                                <button type="submit" value="Slett" class="btn btn-danger btn-sm">Slett</button>
                            </form> 
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h3>You dont have any Equipment registered!</h3>
                    </div>
                </div>
            </div>
        {% endif %}
    </section> 
{% endblock %}
        
